main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px;
    justify-content: center;
    
}
#recent{
    grid-row: 2;
    grid-column: 1;
    background-color: var(--secondary);
    margin: 20px;
    width: 200px;
}
#recent p{
    margin: 0px;
    
}
#recent h1{
    margin: 5px;
}

.lookUp{
    margin: 10px;
    width: 125px;
    padding: 3px;
    cursor: pointer;
}

.lookUp:hover{
    margin: 10px;
    margin-left: 15px;
    background-color: var(--hover-2);
    width: 125px;
    padding: 3px;
}
#graph{
    grid-row: 1;
    grid-column: 1;
}

#form{
    align-items: center;
    grid-row: 1/3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
label h1{
    margin: 0px;
}
input{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submit{
    width: 100px;
    height: 40px;
    
}


@media (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #graph{
    grid-row: 1;
    align-items: center;
    margin: 1rem;
    
    
  }
  #form{
    grid-row: 2;
    grid-column: 1;
  }
  #recent{
    align-items: center;
    grid-row: 3;
    
  }
 

  
}

